body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.contenedor {
    width: 400px;
    margin: 50px auto;
    background-color: MediumSeaGreen;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

label {
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    cursor: pointer;
}

#mensaje {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
